@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


:root{
  --font-main: 'Montserrat', sans-serif;
  --color-main: #4E5150;
  --color-activity: #E5E5E5;
}


body{
  min-height: 100vh;
}


section{
  display: block;
  padding: 50px 16% 50px;
}

section .gridProfile{
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 1rem;
  justify-content: center;
}

section .gridProfile .boxContentProfile{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

section .gridProfile .profile{
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 170px;
  gap: .4rem;
}

section .gridProfile .profile img{
  max-width: 100%;
  border-radius: 10px;
}

section .gridProfile .profile span{
  color: var(--color-main);
  font-size: 1.3rem;
  font-family: var(--font-main);
  font-weight: 700;
}

section .gridProfile .profile p{
  color: #A9A9A9;
  font-size: .8rem;
  font-family: var(--font-main);
  font-weight: 600;
}

section .gridProfile .profileActivity{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 50px;
  column-gap: 1rem;
}

section .gridProfile .profileActivity .item{
  background: var(--color-activity);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 20px;
  border-radius: 12px;
  gap: 2px;
  cursor: pointer;
}

section .gridProfile .profileActivity .item span:nth-child(1){
  color: var(--color-main);
  font-weight: 600;
  font-family: var(--font-main);
}

section .gridProfile .profileActivity .item span:nth-child(2){
  color: #BDBDBD;
  font-weight: 600;
  font-size: .7rem;
  font-family: var(--font-main);
}

section .gridPhotosGallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  grid-auto-flow: dense;
}

section .gridPhotosGallery .item{
  position: relative;
  overflow: hidden;
}


section .gridPhotosGallery .item img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.40s all ease;
}

section .gridPhotosGallery .item img:hover{
  transform: scale(1.2);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: 3rem;
}

footer p{
  color: #cfcfcf;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0;
}

footer p span{
  position: relative;
}

footer p span a{
  color: #BDBDBD;
  transition: 2s all ease;
}

footer p span a{
  cursor: pointer;
}

footer p span::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #3dff23;
  transition: 1s all ease;
}

footer p span:hover::before{
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #3dff23;
}

footer p span:hover a{
  color: #3dff23;
}





@media (min-width: 1000px){
  .wide{
    grid-column: span 2;
  }
  
  .tall{
    grid-row: span 2;
  }
}

@media (max-width: 1000px){
  section:nth-child(2){
    padding: 50px 10% 60px;
  }
}